.princial{
    width: 1200px;
    height: 500px;
    background-color: aqua;
    display: flex;
}
.cuadro{
    width: 200px;
    height: 100px;
    background-color: blueviolet;
    margin: 5px;
    display: inline-flex;

}
@media(max-width:768px){
    .princial{
        width: 100%;
        height: auto;
        height: 500px;
        background-color: aqua;
        display: block;
        box-sizing: border-box;
    }
    .cuadro{
        width: 95%;
       /* height: 200px; */
        background-color: yellow;
        margin-top: 20px;

    }
    .cuadro:hover{
        background-color: blue;
    }
}