body{
    background-color: aqua;
    font-family: Arial, Helvetica, sans-serif;
}
.contenedor{
    width: 700px;
    background-color: burlywood;
    height: 400px;
    position: relative;
}
img{
    width: 350px;
    float: right;
    height: 400px;
}
.texto{
    width: 300px;
    height: 250px;
    position: absolute;
    left: 30%;
    top: 20%;
    background-color: aliceblue;
    opacity: 0.7;
    padding: 10px;
    
}
p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h2{
    text-align: center;
}
.texto a{
    width: 80px;
    text-decoration: none;
    background-color: aqua;
    color: white;
    padding: 10px;
    border-radius: 20px;
    position: absolute;
    left: 100px;
    text-align: center;
   
}
.oculto{
    display: none;
}
a:hover{
opacity: 1;
background-color: black;
}